.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10vh 2vw;
}

.centered {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.container {
  border: 0.3vw solid black;
}

tr, td {
  font-size: 1.5vw;
}

.file {
  background-color: rgb(255, 127, 39);
  border: 2vw solid rgb(255, 127, 39);
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.sheet {
  background-color: gray;
}

#Ref1:hover {
  opacity: 0.5;
}

.table-alimentos {
  /*background-color: white;*/
}

body {
  background-color: ;
}

@media screen and (max-width: 600px) {
  .txt{
    display: none;
  }
  .symb{
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .txt{
    display: block;
  }
  .symb{
    display: none;
  }
}
